* {
  margin: 30px;
  padding: 0;
}

img src {
  position: center;
}

.img-circle {
    border-radius: 50%;
    position: center;
}

h1 {
  color: white;
  cursor: default;
  font-size: 70px;
  font-weight: 1000;
  text-align: center;
  font-family: Arial, sans-serif;
}

li {
  color: white;
  cursor: default;
  font-size: 30px;
  display: inline;
  text-align: center;
}

a {
  color: white;
}

a:hover {
  color: gray;
}

a:link {
  font-family: Arial, sans-serif;
  text-align: center, inline;
  display: inline;
}

a {
  color: white;
}

a:hover {
  color: gray;
}

a:link2 {
  font-family: Arial, sans-serif;
  text-align: center, inline;
  display: inline;
}

