* {
  margin: 0;
  padding: 0;
}

img {
  position: center;
}

h1 {
  color: white;
  cursor: default;
  font-size: 70px;
  font-weight: 200;
  text-align: center;
  font-family: Arial, sans-serif;
}

p {
  color: white;
  cursor: default;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  font-family: Arial, sans-serif;
}
